.TableHead {
    background-color: rgba(0, 0, 0, 0.05);
}

.Cell {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.Cell:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.Text {
    color:  rgba(0, 0, 0, 0.75);
}

.Sort {
    border: solid rgba(0, 0, 0, 0.75);
    border-width: 0 2px 2px 0;
    margin-left: 7px;
    padding: 3px;
    display: inline-block;
}

.Ascend {
    transform: rotate(-135deg);
}

.Descend {
    transform: rotate(45deg);
}