.Cell {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.Row:hover {
    cursor: pointer;
    background-color: rgba(120, 180, 230);
    border: 1px solid rgba(120, 180, 230);
    color: #ffffff;
}

.Text {
    color: inherit;
}